/TPCAI/[Ll]ibrary/
/TPCAI/[Tt]emp/
/TPCAI/[Oo]bj/
/TPCAI/[Bb]uild/
/TPCAI/[Bb]uilds/
/TPCAI/.vs/

# Plugins Folder
/TPCAI/Assets/Plugins
/TPCAI/Assets/Plugins.meta
# Gizmos Folder
/TPCAI/Assets/Gizmos
/TPCAI/Assets/Gizmos.meta
# Light Weight Renderer Pipeline Preview
/TPCAI/Assets/LPPreview
/TPCAI/Assets/LPPreview.meta
# Node Canvas
/TPCAI/Assets/ParadoxNotion
# Behavior Designer
/TPCAI/Assets/Behavior Designer
/TPCAI/Assets/Behavior Designer.meta
/TPCAI/Assets/Behavior Designer Movement
/TPCAI/Assets/Behavior Designer Movement.meta
# Chronos
/TPCAI/Assets/Chronos
/TPCAI/Assets/Chronos.meta
# UMA
/TPCAI/Assets/UMA
/TPCAI/Assets/UMA.meta
# ProCore (for Unity 2017.3)
/TPCAI/Assets/ProCore
/TPCAI/Assets/ProCore.meta
# ProCore (for Unity 2018.1)
/TPCAI/Assets/ProBuilder Data
/TPCAI/Assets/ProBuilder Data.meta
# TextMeshPro
/TPCAI/Assets/TextMesh Pro
/TPCAI/Assets/TextMesh Pro.meta
# Volumetric Lighting
/TPCAI/Assets/Volumetric Lighting
/TPCAI/Assets/Volumetric Lighting.meta
# ShaderForge
/TPCAI/Assets/ShaderForge
/TPCAI/Assets/ShaderForge.meta
# Unity Logs Viewer (See Console Logs in Builds)
/TPCAI/Assets/Unity-Logs-Viewer
/TPCAI/Assets/Unity-Logs-Viewer.meta
# Fungus
/TPCAI/Assets/Fungus
/TPCAI/Assets/Fungus.meta
/TPCAI/Assets/FungusExamples
/TPCAI/Assets/FungusExamples.meta
# StreamingAssets (Ignore Build Files and Other Unnecessary Stuff)
/TPCAI/Assets/StreamingAssets/build_info.txt
/TPCAI/Assets/StreamingAssets/build_info.txt.meta
# Power UI, No Longer Used
/TPCAI/Assets/PowerUI
# Unity Standard Assets and Post Processing
/TPCAI/Assets/PostProcessing
/TPCAI/Assets/PostProcessing.meta
/TPCAI/Assets/Standard Assets
/TPCAI/Assets/Standard Assets.meta
# Tactical Shooter AI, No Longer Used
/TPCAI/Assets/Tactical Shooter AI
# UFPS, No Longer Used
/TPCAI/Assets/UFPS
# Asset Shore Tools
/TPCAI/Assets/AssetStoreTools*
# Third Person Controller
/TPCAI/Assets/Third Person Controller
/TPCAI/Assets/Third Person Controller.meta
/TPCAI/Assets/BackupTPCScripts
# Models Used For Testing
/TPCAI/Assets/ModelsAndAssets
/TPCAI/Assets/ModelsAndAssets.meta
# ORK Framework, No Longer Used
/TPCAI/Assets/_ORK_TPCAI_Backups
/TPCAI/Assets/ORK Framework/DLL
/TPCAI/Assets/ORK Framework/DLL.meta
/TPCAI/Assets/ORK Framework/demo.unitypackage
/TPCAI/Assets/ORK Framework/demo.unitypackage.meta
/TPCAI/Assets/ORK Framework/EditorData.asset
/TPCAI/Assets/ORK Framework/EditorData.asset.meta
/TPCAI/Assets/ORK Framework/gameplay_source_code.zip
/TPCAI/Assets/ORK Framework/gameplay_source_code.zip.meta
/TPCAI/Assets/ORK Framework/README.txt
/TPCAI/Assets/ORK Framework/README.txt.meta

# Map Data Used Inside My RTS Framework
/TPCAI/Assets/Tactical Prototyping/Maps/RTSMainMenu
/TPCAI/Assets/Tactical Prototyping/Maps/Lvl 1-Training
/TPCAI/Assets/Tactical Prototyping/Maps/TPS Demo Map
/TPCAI/Assets/Tactical Prototyping/Maps/SandLevel1
/TPCAI/Assets/Tactical Prototyping/Maps/SandLevelPolyBrush

# No Longer Used
/TPCAI/Assets/Tactical Prototyping/Maps/0 RTSMainMenu
/TPCAI/Assets/Tactical Prototyping/Maps/1 RTSProtoMap
/TPCAI/Assets/Tactical Prototyping/Maps/0 Main Menu
/TPCAI/Assets/Tactical Prototyping/Maps/1 Town
/TPCAI/Assets/Tactical Prototyping/Maps/2 Field
/TPCAI/Assets/Tactical Prototyping/Maps/3 Game Over
/TPCAI/Assets/Tactical Prototyping/Maps/4 Battle Arena

# Autogenerated VS/MD solution and project files
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
