/Project/[Ll]ibrary/
/Project/[Tt]emp/
/Project/[Oo]bj/
/Project/[Bb]uild/
/Project/[Bb]uilds/
/Project/.vs/

# Plugins Folder
/Project/Assets/Plugins
/Project/Assets/Plugins.meta
# Node Canvas
/Project/Assets/ParadoxNotion
# ProCore (for Unity 2017.3)
/Project/Assets/ProCore
/Project/Assets/ProCore.meta
# ProCore (for Unity 2018.1)
/Project/Assets/ProBuilder Data
/Project/Assets/ProBuilder Data.meta
# TextMeshPro
/Project/Assets/TextMesh Pro
/Project/Assets/TextMesh Pro.meta
# Unity Logs Viewer (See Console Logs in Builds)
/Project/Assets/Unity-Logs-Viewer
/Project/Assets/Unity-Logs-Viewer.meta
# Fungus
/Project/Assets/Fungus
/Project/Assets/Fungus.meta
/Project/Assets/FungusExamples
/Project/Assets/FungusExamples.meta
# StreamingAssets (Folder Keeps Appearing In My Project)
/Project/Assets/StreamingAssets
/Project/Assets/StreamingAssets.meta
# Power UI, No Longer Used
/Project/Assets/PowerUI
# Moon Sharp, No Longer Used
/Project/Assets/Plugins
# Unity Standard Assets and Post Processing
/Project/Assets/PostProcessing
/Project/Assets/PostProcessing.meta
/Project/Assets/Standard Assets
/Project/Assets/Standard Assets.meta
# Tactical Shooter AI, No Longer Used
/Project/Assets/Tactical Shooter AI
# UFPS, No Longer Used
/Project/Assets/UFPS
# Asset Shore Tools
/Project/Assets/AssetStoreTools*
# Third Person Controller
/Project/Assets/Third Person Controller
/Project/Assets/BackupTPCScripts
# Models Used For Testing
/Project/Assets/ModelsAndAssets
/Project/Assets/ModelsAndAssets.meta
# ORK Framework, No Longer Used
/Project/Assets/_ORK_Project_Backups
/Project/Assets/ORK Framework/DLL
/Project/Assets/ORK Framework/DLL.meta
/Project/Assets/ORK Framework/demo.unitypackage
/Project/Assets/ORK Framework/demo.unitypackage.meta
/Project/Assets/ORK Framework/EditorData.asset
/Project/Assets/ORK Framework/EditorData.asset.meta
/Project/Assets/ORK Framework/gameplay_source_code.zip
/Project/Assets/ORK Framework/gameplay_source_code.zip.meta
/Project/Assets/ORK Framework/README.txt
/Project/Assets/ORK Framework/README.txt.meta
/Project/Assets/Gizmos

# Map Data Used Inside My RTS Framework
/Project/Assets/Tactical Prototyping/Maps/RTSMainMenu
/Project/Assets/Tactical Prototyping/Maps/Lvl 1-Training
/Project/Assets/Tactical Prototyping/Maps/TPS Demo Map

# No Longer Used
/Project/Assets/Tactical Prototyping/Maps/0 RTSMainMenu
/Project/Assets/Tactical Prototyping/Maps/1 RTSProtoMap
/Project/Assets/Tactical Prototyping/Maps/0 Main Menu
/Project/Assets/Tactical Prototyping/Maps/1 Town
/Project/Assets/Tactical Prototyping/Maps/2 Field
/Project/Assets/Tactical Prototyping/Maps/3 Game Over
/Project/Assets/Tactical Prototyping/Maps/4 Battle Arena

# Autogenerated VS/MD solution and project files
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
