/TPC AI Prototyping/[Ll]ibrary/
/TPC AI Prototyping/[Tt]emp/
/TPC AI Prototyping/[Oo]bj/
/TPC AI Prototyping/[Bb]uild/
/TPC AI Prototyping/[Bb]uilds/
/TPC AI Prototyping/.vs/
# Node Canvas
/TPC AI Prototyping/Assets/ParadoxNotion
# Power UI
/TPC AI Prototyping/Assets/PowerUI
# Moon Sharp, No Longer Used
/TPC AI Prototyping/Assets/Plugins
# Unity Standard Assets and Post Processing
/TPC AI Prototyping/Assets/PostProcessing
/TPC AI Prototyping/Assets/Standard Assets
# Tactical Shooter AI, No Longer Used
/TPC AI Prototyping/Assets/Tactical Shooter AI
# UFPS, No Longer Used
/TPC AI Prototyping/Assets/UFPS
# Asset Shore Tools
/TPC AI Prototyping/Assets/AssetStoreTools*
# Third Person Controller
/TPC AI Prototyping/Assets/Third Person Controller
/TPC AI Prototyping/Assets/BackupTPCScripts
# Models Used For Testing
/TPC AI Prototyping/Assets/ModelsAndAssets
/TPC AI Prototyping/Assets/ModelsAndAssets.meta
# ORK Framework
/TPC AI Prototyping/Assets/_ORK_Project_Backups
/TPC AI Prototyping/Assets/ORK Framework/DLL
/TPC AI Prototyping/Assets/ORK Framework/DLL.meta
/TPC AI Prototyping/Assets/ORK Framework/demo.unitypackage
/TPC AI Prototyping/Assets/ORK Framework/demo.unitypackage.meta
/TPC AI Prototyping/Assets/ORK Framework/EditorData.asset
/TPC AI Prototyping/Assets/ORK Framework/EditorData.asset.meta
/TPC AI Prototyping/Assets/ORK Framework/gameplay_source_code.zip
/TPC AI Prototyping/Assets/ORK Framework/gameplay_source_code.zip.meta
/TPC AI Prototyping/Assets/ORK Framework/README.txt
/TPC AI Prototyping/Assets/ORK Framework/README.txt.meta
/TPC AI Prototyping/Assets/Gizmos
# Map Data Used Inside My RTS Framework
/TPC AI Prototyping/Assets/Tactical Prototyping/Maps/0 RTSMainMenu
/TPC AI Prototyping/Assets/Tactical Prototyping/Maps/1 RTSProtoMap
/TPC AI Prototyping/Assets/Tactical Prototyping/Maps/0 Main Menu
/TPC AI Prototyping/Assets/Tactical Prototyping/Maps/1 Town
/TPC AI Prototyping/Assets/Tactical Prototyping/Maps/2 Field
/TPC AI Prototyping/Assets/Tactical Prototyping/Maps/3 Game Over
/TPC AI Prototyping/Assets/Tactical Prototyping/Maps/4 Battle Arena
# Autogenerated VS/MD solution and project files
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
